<div class="content" style="background-color:#480091;">
    <div class="row">
        <div class="col s6">
            <h2 style="color:aqua;">Visual Studio Code</h2><br>
            <p style="color:aqua; font-size: 20px;">
                Best text editor for programmers. I recommend you to use it,
                but at the same time you can choose any other text editor. 
            </p>
            <br>
            <a href="https://code.visualstudio.com/" target="_blank" style="color:aqua; font-size: 20px;">
                Download
            </a><br>
            <div class="row">
                <img src="../../../assets/img/web-intro/vs.gif" width="100%">
            </div>
        </div>
        <div class="col s5">
            <h2 style="color:rgb(255, 161, 249);">Materials</h2><br>
            <a href="https://www.w3schools.com/" target="_blank">
                <p style="color:rgb(255, 161, 249); font-size: 30px;">
                    ➯ W3School
                </p>
            </a>
            <a href="https://neumorphism.io/#dda2a2" target="_blank">
                <p style="color:rgb(255, 161, 249); font-size: 30px;">
                    ➯ Neumorphism
                </p>
            </a>
            <a href="https://www.freecodecamp.org/news/glassmorphism-design-effect-with-html-css/" target="_blank">
                <p style="color:rgb(255, 161, 249); font-size: 30px;">
                    ➯ Glassmorphism
                </p>
            </a>
            <a href="https://fontawesome.com/v4.7/" target="_blank">
                <p style="color:rgb(255, 161, 249); font-size: 30px;">
                    ➯ Fontawesome (Icons)
                </p>
            </a>
            <a href="https://materializecss.com/" target="_blank">
                <p style="color:rgb(255, 161, 249); font-size: 30px;">
                    ➯ Materializecss (Angular)
                </p>
            </a>
        </div>
    </div>
</div>

