<!-- About Us Page -->
<div id="about" class="tm-page-content">
    <div class="tm-black-bg tm-mb-20 tm-about-box-1">              
      <h2 class="tm-text-primary tm-about-header">University Life</h2>
      <br>
      <div class="tm-list-item tm-list-item-2">                
        <img src="../../../assets/img/myprofile/university.png" alt="Image" class="tm-list-item-img tm-list-item-img-big">
        <div class="tm-list-item-text-2">
          <p>I am in the second year at the University of Manchester.</p>
          <p><a href="https://www.manchester.ac.uk/" target="_blank">https://www.manchester.ac.uk/</a></p>
          <p><a href="https://www.manchester.ac.uk/study/undergraduate/courses/2022/" target="_blank">Undergraduate courses for entry in 2022</a><p>
          <p><a href="https://www.manchester.ac.uk/connect/contact-us/" target="_blank">Contact University</a></p>
          <p><a href="https://www.manchester.ac.uk/connect/social-media/" target="_blank">Social Media</a></p>
        </div>                
      </div>
    </div>
    <div class="tm-black-bg tm-mb-20 tm-about-box-2">              
      <div class="tm-list-item tm-list-item-2">                
        <div class="tm-list-item-text-2">
          <h2 class="tm-text-primary">Department</h2>
          <p>
            I study Computer Science with Industrial Experience MEng (5 years).
            I enjoy what we are doing at the university. Even if the 
            first year was online because of COVID, I feel that
            I learned a lot of new things and we had projects, workshops, labs,
            which helped me understand better.  
          </p>                  
        </div>                
        <img src="../../../assets/img/myprofile/computer-science.gif" alt="Image" class="tm-list-item-img tm-list-item-img-big tm-img-right">                
      </div>
      <p>
        If you choose to study Computer Science
        or other field, I recommend 
        to have a look on the University's website. 
        <br><br>
      </p>
      <h2 class="tm-text-primary">Computer Science</h2>
      <p>First Year Courses --- To give you a brief idea</p><br>
      <img src="../../../assets/img/myprofile/year1.png" width="90%">
      <p><br>
        <b>First Year Team Project</b> -> I had a team and we had to 
        develop a web app. We could use our imagination to create
        something new. At the same time we studied web programming 
        languages, both front-end
        and back-end, such as HTML, CSS, JavaScript, PHP, SQL. 
        We didn't have to use exactly the above languages, but we could
        implement our app using others too, as NodeJS, Angular. 
        <br><br>
      </p>
      <p>
        <b>Programming</b> -> In first semester we studied Python and 
        in second semester Java
      </p><br>
      <p>
        <b>Exams for First Year:</b><br>
        <b>First Semester: </b> 4 exams<br>
        <b>Second Semester: </b> 5 exams<br>
      </p>
      <br><p>For questions: <b>phoenix.pwebsite@gmail.com</b></p>
    </div>
</div>
<!-- end About Us Page -->
