
      <div class="tm-list-item">          
        <div class="tm-black-bg tm-list-item-text">
          <h3 class="tm-list-item-name"><span class="tm-list-item-price">PhoeNix</span></h3>
          <p class="tm-list-item-description">
            <b>My name is Patricia-Nicole Gal and I created this website having 2 aims:</b>
            <br>Lear more about WebDevelopment during summer.
            <br>
              To use my creativity to develop a new app 
              for you.
            <br><br>
            This app is just a startup and I have many other ideas
            and features in mind 
            I want to add in time. 
        </p>
        </div>
      </div>
      <div class="tm-list-item">          
        <img src="../../../assets/img/home/me.jpg" alt="Image" class="tm-list-item-img">
        <div class="tm-black-bg tm-list-item-text">
          <h3 class="tm-list-item-name">About<span class="tm-list-item-price">Me</span></h3>
          <p class="tm-list-item-description">
            Since last year I realised how much I like programming and web developing. 
            <br>I also enjoy writing and talking about different interesting topics
            and that's why I start blogging.
            <br>My favourite sports are: tennnis, swimming, volleyball.  
            <br>I like to spend time with friends and watch movies and series.
            I also like to read books. 
          </p>
        </div>
      </div> 
      <div class="tm-list-item">          
        <img src="../../../assets/img/myprofile/website.gif" alt="Image" class="tm-list-item-img">
        <div class="tm-black-bg tm-list-item-text">
          <h3 class="tm-list-item-name"><span class="tm-list-item-price"><img src="../../../assets/img/home/name.svg" width="250px"></span></h3>
          <p class="tm-list-item-description">
              How I came up with this name for the website?
              In high school I studied a little bit Chinese and 
              I received a Cinese name: 施巧凤.
              I searched what it means in English and I saw that 
              凤 means Phoenix.
          </p>
        </div>
      </div>
      <div class="tm-list-item">          
        <img src="../../../assets/img/myprofile/web.gif" alt="Image" class="tm-list-item-img">
        <div class="tm-black-bg tm-list-item-text">
          <h3 class="tm-list-item-name"><span class="tm-list-item-price">Website Programming</span></h3>
          <p class="tm-list-item-description">
            I made this website using Angular for front-end and NodeJS, MongoDB for back-end.
            For using Angular you need to know HTML, CSS and TypeScript. 
            TypeScript I learned this summer. TypeScript is a strongly typed programming language which builds on 
            JavaScript giving you better tooling at any scale.
          </p>
        </div>
      </div>
      
                            
