<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
</head>

<body class="tm-bg-dark">
    <a class="link-color" [routerLink]="['/']"><i class="material-icons" style="color:#cc99c9; font-size: 50px;">bubble_chart</i></a>
    <br><br>
    <main class="tm-container masonry">
        <div class="item tm-bg-white tm-block tm-block-left" data-desktop-seq-no="1" data-mobile-seq-no="1">
            <p class="tm-hero-text">
                &ldquo;
                Once you have a clear picture of your priorities – that is your values, goals and high leverage activities, organize around them.
                &rdquo;
                -Stephen Covey
                <br><br>
                Organization is really important everywhere and 
                because of that I'll give you some essential tips. 
            </p>
            <header class="tm-block-brand">
                <div class="tm-bg-primary-dark tm-text-white tm-block-brand-inner">
                    <img src="../../../assets/img/organization/title.svg" width="400px">
                </div>
            </header>
        </div>
        
        <div class="item tm-bg-secondary tm-text-white tm-block tm-block-wider tm-block-pad tm-block-left-2" data-desktop-seq-no="3"
            data-mobile-seq-no="5">
            <p style="font-size: 18px;">
                Are you a student and you work in a team? Do you want to
                write down your tasks? <br>
                Use monday.com  
                <img src="../../../assets/img/organization/monday.png" width="400px">
                <br>If you are a student, you can use the free plan.
                <img src="../../../assets/img/organization/monday-freestudent.png" width="400px">
            </p>
            <div class="tm-text-right">
                <a href="https://monday.com/" target="_blank" class="tm-btn tm-btn-small tm-btn-primary tm-mt">View</a>
            </div>
        </div>
        <!--First left side-->

        <div class="item tm-block-right" data-desktop-seq-no="7" data-mobile-seq-no="3">
            <div class="item" data-desktop-seq-no="6" data-mobile-seq-no="2">
                <img src="../../../assets/img/logo/nameLogo.png" alt="Image">
            </div>
            <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">
                <header>
                    <h2 class="tm-text-uppercase">
                        Video about organization
                    </h2>
                    <!--here the video about organization-->
                </header>
            </div>
        </div>

        <div class="item tm-bg-white tm-block tm-form-section" data-desktop-seq-no="9" data-mobile-seq-no="7">
            <div class="tm-form-container tm-block-pad tm-pb-0">
                <header>
                    <h2 class="tm-text-uppercase tm-text-gray-light tm-mb">
                        Ways
                    </h2>
                </header>
                <img src="../../../assets/img/organization/passionplanner.jpg">
            </div>

            <div class="tm-form-section-tag">
                <div class="tm-bg-secondary tm-text-white tm-block-pad tm-form-section-tag-inner">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i><p>Take notes when you go to courses</p>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i><p>Write down everyday the tasks you want to do</p>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i><p>Keep your desk/workspace clean</p>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i><p>Highlight important ideas</p>
                </div>
            </div>
            <div class="tm-form-container tm-block-pad tm-pb-0">
                <img src="../../../assets/img/organization/office-organization.jpg">
            </div>
        </div>

</main>

<br>
<!-- Footer  -->
<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Copyright &copy; 2021 All Rights Reserved By <span>Patricia-Nicole Gal</span>
                </p>
            </div>
        </div>
    </div>

</footer>
<!-- Footer Ends -->

</body>

</html>