<div id="content">
    <div class="box">
      <div class="border-right">
        <div class="border-left">
          <div class="inner">
            <h3><span style="color:aqua;">Music</span></h3>
            <div class="carousel">
              <p style="color:rgb(0, 255, 255); font-size: 20px; font-weight: 700;">
                Bands & Singers & Songs & Playlists
              </p>
              <a class="carousel-item" href="https://open.spotify.com/playlist/24VXwsPbRZUHkVcQQvgSIl?si=913fe32759ca409d" target="_blank"><img src="../../../assets/img/movie-book-music/cute.gif"></a>
              <a class="carousel-item" href="https://open.spotify.com/playlist/73S0ZizSnsISFSnACRLjVf?si=8be08abb0ee4474e" target="_blank"><img src="../../../assets/img/movie-book-music/love.gif"></a>
              <a class="carousel-item" href="https://open.spotify.com/playlist/1z5fNID0KQv19C5a6qdMQr?si=690d65dd9c6a4250" target="_blank"><img src="../../../assets/img/movie-book-music/party.gif"></a>
              <a class="carousel-item" href="https://open.spotify.com/playlist/5c1GSktIYdIaouhoDqwy3I?si=bc3fba629af74d02" target="_blank"><img src="../../../assets/img/movie-book-music/rose.gif"></a>
              <a class="carousel-item" href="https://open.spotify.com/playlist/6mWXCjAhPcfrOZK3ZlUmkY?si=12728fee3cce42f1" target="_blank"><img src="../../../assets/img/movie-book-music/ice.gif"></a>
              <a class="carousel-item" href="https://open.spotify.com/playlist/7p3ZJoTWvFmndsz7i4r2pG?si=7db383bda7b34bf7" target="_blank"><img src="../../../assets/img/movie-book-music/ozone-dragostea-din-tei.gif"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

