.collection {
  background: linear-gradient(to bottom, #9900cc 0%, #00ffff 100%) !important;
}

.collection-item {
  background: linear-gradient(to right, #e0ffff 0%, #e8ffff 100%) !important;
}

.material-icons {
  color: #6600cc !important;
  margin-right: 10px;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 18px !important;
  text-shadow: 1px 0px 1px #00ffff, 0px 1px 1px #eeeeee, 2px 1px 1px #00ffff, 1px 2px 1px #eeeeee, 3px 2px 1px #cccccc,
    2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc, 4px 5px 1px #eeeeee,
    6px 5px 1px #cccccc, 5px 6px 1px #eeeeee, 7px 6px 1px #00ffff;
  color: #6600cc;
}

.time {
  margin-bottom: 10px !important;
  font-style: italic;
  font-weight: 400;
  text-shadow: 2px 1px 1px #00ffff;
  color: #6600cc;
}

.text {
  text-align: center !important;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 1px 0px 1px #00ffff, 0px 1px 1px #eeeeee, 2px 1px 1px #00ffff, 1px 2px 1px #eeeeee, 3px 2px 1px #cccccc,
    2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc, 4px 5px 1px #eeeeee,
    6px 5px 1px #cccccc, 5px 6px 1px #eeeeee, 7px 6px 1px #00ffff;
  color: #6600cc;
}

.disabled {
  color: #c0c0c0 !important;
}

h2 {
  text-align: center !important;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 1px 0px 1px #00ffff, 0px 1px 1px #eeeeee, 2px 1px 1px #00ffff, 1px 2px 1px #eeeeee, 3px 2px 1px #cccccc,
    2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc, 4px 5px 1px #eeeeee,
    6px 5px 1px #cccccc, 5px 6px 1px #eeeeee, 7px 6px 1px #00ffff;
  color: #6600cc;
}
