<!--Toolbar component-->
<app-toolbar></app-toolbar>

<div class="container" style="margin-top: 30px">
    <div class="row">
        <!--On a small device the length will take grid size of 12
        On a medium device it will have the size of 4
        On large devices it will be 3 -->
        <!--Left-Side part of the window-->
        <div class="col s12 m4 l3">
            <app-side></app-side>
        </div>
        <!--Right-Side part of the window-->
        <div class="col s12 m8 l9">
            <img src="../../../assets/img/notifications/notifications.svg" width="500px" height="125px">
            <!--Display this row with the notifications in the browser
            if there are more notifications than 0 -->
            <ul class="collection col s12 m10" *ngIf="notifications.length > 0">
                <!--Display the notifications-->
                <li class="collection-item avatar" *ngFor="let data of notifications">
                    <img class="circle" src="https://res.cloudinary.com/doztrdady/image/upload/v{{data.senderId.picVersion}}/{{data.senderId.picId}}">
                    <span class="title">{{data.message}}</span>
                    <a class="secondary-content">
                        <!--If this property is false, display this icon -->
                        <i *ngIf="!data.read" class="material-icons">brightness_1</i>
                        <!--Otherwise, if the data has been marked as read, then display 
                        the following icon-->
                        <i *ngIf="data.read" class="material-icons">panorama_fish_eye</i>
                    </a>
                    <p class="time">{{TimeFromNow(data.created)}}</p>
                    <div>
                        <!--If the notification is merked as read, then disable the icon,
                        otherwise add the not disabled class-->
                        <i class="material-icons" (click)="MarkNotication(data)" [ngClass]="data.read ? 'disabled': 'notDisbled'">check</i>
                        <i class="material-icons" (click)="DeleteNotification(data)">delete_forever</i>
                    </div>
                </li>
            </ul>
            <!--Display this row in the browser
            if there are less than or equal to 0 notifications -->
            <div class="row" *ngIf="notifications.length <= 0">
                <img src="../../../assets/img/notifications/nonotifications.svg" width="500px" height="125px">
            </div>
        </div>
    </div>
</div>

