<div id="content">
    <div class="box">
      
        <div class="border-left">
          <div class="inner">
            <h3><span style="color:rgb(47, 29, 124); font-weight: 700; font-size: 100px;">Books</span></h3>       
            <br><br><br>
            <p style="color:rgb(47, 29, 124); font-size: 20px; font-weight: 700;">
                A new world where you can read<br> and use your imagination
            </p>
            <a href="https://www.wattpad.com/stories/wattpad" target="_blank"><img src="../../../assets/img/movie-book-music/wattpad.png" width="300px"></a>

            <br><br><br>
            <p style="color:rgb(47, 29, 124); font-size: 20px; font-weight: 700;">
                Search for an adventure<br>
            </p>
            <a href="https://mostrecommendedbooks.com/" target="_blank"><img src="../../../assets/img/movie-book-music/recommendweb.gif" width="200px"></a>


            <br><br><br>
            <!-- My Recommendationsc -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <ul>
                        <li>
                            <p style="color:rgb(47, 29, 124); font-size: 20px; font-weight: 700;">
                                Pride and Prejudice <br> Jane Austen
                            </p>
                            <div class="img-box1" style="color:rgb(47, 29, 124);">
                                <img src="../../../assets/img/movie-book-music/1page-img11.jpg" width="250px">
                                
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <br><br><p  style="background: rgb(145, 215, 255); width:150px;"> Recommended by me. </p><br>
                            </div>
                        </li>
                        <li><br>
                            <p style="color:rgb(47, 29, 124); font-size: 20px; font-weight: 700;">
                                Brief Answers to the Big Questions <br> Stephen Hawking
                            </p>
                            <div class="img-box1" style="color:rgb(47, 29, 124);">
                                <img src="../../../assets/img/movie-book-music/1page-img22.jpg" width="250px">
                                
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <br><br><p  style="background: rgb(145, 215, 255); width:150px;"> Recommended by me. </p><br>
                            </div>
                        </li>
                        <li>
                            <p style="color:rgb(47, 29, 124); font-size: 20px; font-weight: 700;" width="250px">
                                These Broken Stars <br>  Meagan Spooner, Amie Kaufman
                            </p>
                            <div class="img-box1" style="color:rgb(47, 29, 124);">
                                <img src="../../../assets/img/movie-book-music/1page-img33.jpg" width="250px">
                                
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <br><br><p  style="background: rgb(145, 215, 255); width:150px;"> Recommended by me. </p><br>
                            </div>
                        </li>
                        <li>
                            <p style="color:rgb(47, 29, 124); font-size: 20px; font-weight: 700;">
                                Eve <br> Anna Carey
                            </p>
                            <div class="img-box1" style="color:rgb(47, 29, 124);">
                                <img src="../../../assets/img/movie-book-music/1page-img44.jpg">
                                
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <br><br><p  style="background: rgb(145, 215, 255); width:150px;"> Recommended by me. </p><br>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effect waves-green btn-flat" style="background-color: blueviolet; width:50px;padding-right: 20px;">Okay</a>
                </div>
            </div>

            <!-- Modal Trigger -->
            <button data-target="modal1" class="btn modal-trigger" style="background-color: blueviolet; padding-top:5px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;">My Recommendations</button>
            
            <br><br><br>
            <!-- Your Recommendations -->

            <!-- Modal Structure -->
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <h4>No recommendations yet</h4>
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effect waves-green btn-flat" style="background-color: blueviolet; width:50px;padding-right: 20px;">Okay</a>
                </div>
            </div>
            <!-- Modal Trigger -->
            <button data-target="modal2" class="btn modal-trigger" style="background-color: blueviolet; padding-top:5px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;">Your Recommendations</button>

          </div>
      </div>
    </div>
</div>

