<div id="drink" class="tm-page-content">
    <!-- Drink Menu Page -->
    <nav class="tm-black-bg tm-drinks-nav">
      <ul>
        <li>
          <a href="/myprofileAbout" target="new" class="tm-tab-link active" data-id="cold">About</a>
        </li>
        <li>
          <a href="/myprofileContact" target="new" class="tm-tab-link" data-id="juice">Contact</a>
        </li>
      </ul>
    </nav>

    <div id="cold" class="tm-tab-content">
      <div class="tm-list">
        <iframe name="new" height="700px" width="100%" frameBorder="0"></iframe> 
      </div>
    </div>

    <div id="hot" class="tm-tab-content">
      <div class="tm-list">
        <iframe name="new" height="700px" width="100%" frameBorder="0"></iframe> 
      </div>
    </div>

</div>
