<div id="content">
    <div class="line-hor"></div>
    <div class="box">
      <div class="border-right">
        <div class="border-left">
          <div class="inner">
            <h3><span style="color:aqua;">Send a suggestion</span></h3>
            <br>
            <form action="https://formsubmit.co/phoenix.pwebsite@gmail.com" method="POST">
              <label for="fname">First Name</label>
              <input type="text" name="FirstName" required>
              <label for="lname">Last Name</label>
              <input type="text" name="LastName" required>
              <label for="lname">Email</label>
              <input type="email" name="email" required>
              <select name="category" id="category">
                <option value="movies">Movie</option>
                <option value="books">Book</option>
                <option value="series">Series</option>
                <option value="music">Music</option>
              </select>
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
              <button type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div> 
</div>
