<div id="content">
    <div class="box">
      <div class="border-right">
        <div class="border-left">
          <div class="inner">
            <img src="../../../assets/img/movie-book-music/banner-img.png" width="200px" align="right">
            <br><br>
            <h3><span style="color:aqua; font-weight:700;">Cinema</span></h3>
            <br><br>
            <div class="carousel">
                <p style="color:rgb(0, 255, 255); font-size: 20px; font-weight: 700;">
                    Thriller/Action Movies & Series
                </p>
                <a class="carousel-item" href="https://www.imdb.com/title/tt7286456/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/joker.jpg" width="200px"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1600195/" target="_blank"><img src="../../../assets/img/movie-book-music/1page-img1.jpg" width="250px"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt10418662/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/Awake.jpg" width="200px"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt5420376/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/riverdale.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1243957/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/tourist.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt7221388/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/cobrakai.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt10293938/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/outerbanks.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0493464/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/wanted.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt10731768/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/sweet-girl-477926l.jpg"></a>
            </div>
            <div class="carousel">
                <p style="color:rgb(0, 255, 255); font-size: 20px; font-weight: 700;">
                    Sci-Fi & Fantasy
                </p>
                <a class="carousel-item" href="https://www.imdb.com/title/tt2304933/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/1page-img2.jpg" width="250px"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1405406/?ref_=nv_sr_srsg_0" target="_blank"><img src="../../../assets/img/movie-book-music/1page-img3.jpg" width="300px"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1099212/?ref_=tt_mv_close" target="_blank"><img src="../../../assets/img/movie-book-music/1page-img4.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt2661044/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/100.jpeg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1567432/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/teenwolf.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1538403/?ref_=fn_al_tt_2" target="_blank"><img src="../../../assets/img/movie-book-music/cityofbones.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1840309/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/divergent.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1152398/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/beastly.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1464540/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/4.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1392170/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/hungergames.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1790864/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/mazerunner.jpg"></a>
            </div>
            <div class="carousel">
                <p style="color:rgb(0, 255, 255); font-size: 20px; font-weight: 700;">
                    Romantic Movies & Series
                </p>
                <a class="carousel-item" href="https://www.imdb.com/title/tt8740790/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/bridgerton.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0414387/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/pride&prejudice.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0147800/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/10_Things_I_Hate_About_You_film.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0281358/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/walk.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0989757/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/dearjohn.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0332280/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/notebook_.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt4126476/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/after.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt3799232/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/kissingbooth.png"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt2674426/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/mebeforeyou.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt3846674/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/toallboys_.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1355630/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/If_I_Stay_poster.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0092890/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/Dirty_Dancing.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1604171/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/prom.jpg"></a>
            </div>
            <div class="carousel">
                <p style="color:rgb(0, 255, 255); font-size: 20px; font-weight: 700;">
                    Comedies
                </p>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1408253/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/ridealong.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt8201170/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/The_Perfect_Date.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt2222042/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/love&monsters.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1469304/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/baywatch.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt2283362/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/Jumanji_2017_Poster.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt3104988/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/crazyrichasians.jpg"></a>
            </div>
            <div class="carousel">
                <p style="color:rgb(0, 255, 255); font-size: 20px; font-weight: 700;">
                    Horror Movies
                </p>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1457767/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/conjuring.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt8695030/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/thedeaddontdie_.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0758746/?ref_=fn_al_tt_2" target="_blank"><img src="../../../assets/img/movie-book-music/friday.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt3322940/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/annabelle.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1320291/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/thereef.jpg"></a>
            </div>
            <div class="carousel">
                <p style="color:rgb(0, 255, 255); font-size: 20px; font-weight: 700;">
                    DC Movies
                </p>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0451279/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/wonderwoman.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt2975590/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/batmanvsuperman.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt6334354/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/suicidesq.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1477834/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/aquaman_.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0974015/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/justiceleague.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0448115/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/Shazam!_(film)_poster.jpg"></a>
            </div>
            <div class="carousel">
                <p style="color:rgb(0, 255, 255); font-size: 20px; font-weight: 700;">
                    Marvel Movies
                </p>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0458339/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/captainamerica_.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt4154664/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/captainmarvel.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0371746/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/ironman.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0800369/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/thor-movie-storybook.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt2015381/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/guardians.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0413300/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/spiderman.jpeg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0478970/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/antman_.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt3480822/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/blackwidow.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt9140554/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/loki_.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt0800080/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/hulk.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1211837/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/doctor-strange-179602l.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt1825683/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/blackpanther_.jpg"></a>
            </div>
            <div class="carousel">
                <p style="color:rgb(0, 255, 255); font-size: 20px; font-weight: 700;">
                    Kdrama
                </p>
                <a class="carousel-item" href="https://www.imdb.com/title/tt10850932/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/crashlandingonyou.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt4925000/?ref_=fn_al_tt_1!" target="_blank"><img src="../../../assets/img/movie-book-music/DescendantsoftheSun.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt13642264/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/alovesobeautiful.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt13433812/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/Vincenzo-KD-p1.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt3469052/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/You_Who_Came_From_the_Stars_Cover.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt6300100/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/My_secret_romance_p1.jpg"></a>
            </div>
            <div class="carousel">
                <p style="color:rgb(0, 255, 255); font-size: 20px; font-weight: 700;">
                    Cdrama
                </p>
                <a class="carousel-item" href="https://www.imdb.com/title/tt14747972/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/useformytalent.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt8690890/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/meteorgarden.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt11152058/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/alittlethingcalledfirstlove_.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt10265158/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/headshoulder.jpg"></a>
                <a class="carousel-item" href="https://www.imdb.com/title/tt14376958/?ref_=fn_al_tt_1" target="_blank"><img src="../../../assets/img/movie-book-music/The_Rational_Life.jpg"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
