
  <div class="tm-container">
    <div class="tm-row">
      <!-- Site Header -->
      <div class="tm-left">
        <div class="tm-left-inner">
          <img src="../../../assets/img/logo/nameLogo.png">
          <a class="link-color" [routerLink]="['/']"><i class="material-icons" style="color:aqua; font-size: 50px;">bubble_chart</i></a>
          <div class="tm-site-nav">
            <ul class="tm-site-nav-ul">
              <li class="tm-page-nav-item">
                <a href="/myprofileFirst" target="emptypage" class="tm-page-link active">
                  <span style="padding-left: 20px; font-size: 40px; font-weight: 700;">About me</span>
                </a>
              </li>
              <li class="tm-page-nav-item">
                <a href="/myprofileSecond" target="emptypage" class="tm-page-link">
                  <span style="padding-left: 20px; font-size: 40px; font-weight: 700;">University</span>
                </a>
              </li>
            </ul>
        </div>
        </div>        
      </div>
      <div class="tm-right">
        <main class="tm-main">
        <iframe name="emptypage" height="700px" width="100%" frameBorder="0"></iframe>  
        </main>
      </div>    
    </div>
  </div>
    
  <!-- Background video -->
  <div class="tm-video-wrapper">
      <video autoplay muted loop id="tm-video">
          <source src="../../../assets/img/myprofile/bg.mp4" type="video/mp4">
      </video>
  </div>  

  <!-- Footer  -->
  <footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Copyright &copy; 2021 All Rights Reserved By <span>Patricia-Nicole Gal</span>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Ends -->

